html, body {
    padding: 0;
    margin: 0;
    background-color: #dfdfdf;
    font-family: 'Arial', sans-serif;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.card {
    display: block;
    width: 490px;
    height: auto;
    margin-top: 150px;
    margin-left: 300px;
}

.nav-tabs {
    position: relative;
    display: block;
}

.nav-tabs__list {
    margin: 0;
    padding: 0;
}

.nav-tabs__list-item {
    display: inline-block;
    list-style: none;
    line-height: 1;
}

.nav-tabs__btn {
    font-size: 14px;
    line-height: 21px;
    text-decoration: none;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.card__content {
    box-sizing: border-box;
    display: block;
    height: 280px;
    padding: 15px;
    background-color: #fff;
}

.card__preview {
    display: inline-block;
    width: 132px;
    vertical-align: top;
}

.card__preview-img-wrapper {
    position: relative;
    width: 132px;
    height: 169px;
    border-radius: 3px;
    margin-bottom: 6px;
}

.card__preview-img-wrapper:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.38);
    border-radius: 3px;
}

.card__avatar-image {
    max-width: 100%;
    height: auto;
}

.card__preview-btn-wrapper {
    display: block;
    max-width: 132px;
    width: 100%;
}

.card__preview + .card__information {
    margin-left: 16px;
}

.card__information {
    display: inline-block;
    vertical-align: top;
}

.btn {
    box-sizing: border-box;
    width: 100%;
    border: 0;
    outline: none;
    cursor: pointer;
    transition: all .15s ease;
}

.btn-primary {
    box-sizing: border-box;
    display: inline-block;
    color: #fff;
    background-color: #0982b3;
    font-size: 14px;
    line-height: 21px;
    padding: 6px 14px 7px;
}

.btn-primary.selected {
    background-color: #fff;
    color: #000;
}

.btn-info {
    font-size: 12px;
    line-height: 23px;
    padding-top: 3px;
    padding-bottom: 2px;
    color: #fff;
    border-radius: 3px;
    background-color: #e66d00;
    box-shadow: 0 1px 1px 0 rgba(33, 33, 33, 0.38);
}

.btn-info:hover {
    background-color: #e65500;
}

.card__information {
    width: 304px;
    display: inline-block;
}

.card__information-title {
    font-size: 23px;
    line-height: 21px;
    margin: 0;
    color: #000;
}

.card__information-city {
    font-size: 11px;
    line-height: 23px;
    color: #757575;
}

.card__information-main-module {
    margin-bottom: 20px;
    display: inline-block;
}

.card__information-personal-list {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 0;
    margin-bottom: 20px;
}

.card__information-personal-item {
    width: 100%;
    list-style: none;
    font-size: 12px;
    line-height: 23px;
}

.card__information-personal {
    font-size: 12px;
    line-height: 23px;
}

.state-user {
    padding: 0;
}

.state-user__title,
.phone-user__title,
.email-user__title {
    display: inline-block;
    width: 162px;
    font-weight: bold;
}

.state-user__text,
.phone-user__text,
.email-user__text-link {
    display: inline-block;
    width: 138px;
    text-align: left;
}

.email-user__text-link {
    color: #1574af;
    text-decoration: underline;
    cursor: pointer;
}

.email-user__text-link:hover {
    color: #1589c5;
    text-decoration: none;
}

.card__information-interests {
    display: block;
    font-size: 0;
}

.card__information-interests-title {
    margin: 0;
    font-size: 12px;
    line-height: 21px;
    font-weight: bold;
    margin-bottom: 5px;
}

.card__information-interests-item {
    display: inline-block;
}

.card__information-interests-item + .card__information-interests-item {
    margin-left: 5px;
}

.interest {
    box-sizing: border-box;
    padding: 0 10px;
    font-size: 12px;
    line-height: 23px;
    color: #1574af;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    transition: all .15s ease-in-out;
    cursor: pointer;
}

.interest:hover {
    color: #000;
    background-color: #f3f3f3;
}